/* setup */
* {
    box-sizing: border-box;
}

picture, img {
    display: block;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

p a, li a {
    color: plum;
    text-decoration: underline;
}

/*dev style*/
body * {
     /* border: 1px solid palevioletred; */
     padding: 2px; 
}
/*
section {
    border: 8px solid peachpuff;
}

header, footer, main {
    border: 4px solid paleturquoise;
}

/* structure */
body {
    display: flex;
    flex-direction: column;
   /* border: 10px solid palegoldenrod; */
    min-height: 100vh;
    margin: 0;
}

main {
    flex-grow: 1;
    /*border: 10px solid lightskyblue */
    margin: 0;
    padding: 0;

}

inner-column {
    display: block;
    /* border: 4px solid plum; */
    width: 98%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 10vh;
    padding-bottom: 10vh;
}

header inner-column {
    padding: 10px;
}

footer inner-column {
    padding: 10px;
}


/* TYPOGRAPHY */
.loud-voice {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 700;
    line-height: .9;
    margin-bottom: 0;
}
@media (min-width: 700px) {
    .loud-voice {
        font-size: 30px;
    }
}
.calm-voice {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    line-height: 1.5;
}

/* COMPONENTS */

.button {
    font-weight: 600;
    padding: 1.5vh 1.5vh;
    border-radius: 6px;
    font-family: 'Courier New', Courier, monospace;
}

/* MODULES */


graphic-diptych {
    display: block;
    padding: 10px;
}

graphic-diptych text-content {
    display: block;
    padding: 10px;
}

graphic-diptych picture {
    padding: 10px;
}

@media (min-width: 700px) {
    graphic-diptych {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding-top: 8vh;
        padding-bottom: 8vh;
    }
    graphic-diptych :is(text-content, picture) {
        flex-basis: 50%;
       /* border: 1px solid palevioletred */
    }
}

.section-one {
    background-color: rgb(246, 235, 246);
    color: rgb(124, 102, 150);
}

.section-one .button {
    background-color: rgb(205, 92, 150);
    color: rgb(211, 220, 244);
    margin-top: 40px;
    margin-bottom: 40px;
}

.item-list {
    display: flex;
    flex-direction: row;
    gap: 5px;
} 

.item-list img {
    border-radius: 20px;
    border: 1px solid rgb(98, 58, 163);
}

.items {
    display: flex;
    justify-content: center;
}

.items text-content {
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(187, 144, 187);
    padding-top: 10px;
}

.item-header {
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
    color: rgb(187, 144, 187);
}

header {
    background-color: rgb(246, 235, 246);
}

inner-column .logo {
    color: rgb(110, 55, 119);
    font-family: 'Courier New', Courier, monospace;
}

page-header {
    display: flex;
    justify-content: space-between;
} 

page-header .header-links {
    display: flex;
    list-style-type: none;
    gap: 10px;
    padding: 2vh;
}

.header-links a {
    text-decoration: none;
}

/*
item-grid {
    display: block;
}

.items {

}
item-grid .item-list{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    grid-gap: 1em;
}
*/