/* SETUP */
html {
    background-color:rgb(249, 246, 252);
}
* {
    box-sizing: border-box;
}

picture, img {
    display: block;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

p a, li a {
    color: plum;
    text-decoration: underline;
}

body * {
     padding: 2px; 
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex-grow: 1;
    margin: 0;
    padding: 0;

}

inner-column {
    display: block;
    width: 98%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10vh;
}

header inner-column {
    padding: 10px;
}

footer inner-column {
    padding: 10px;

}

header, footer {
    background-color: rgb(246, 235, 246);
}



/* TYPOGRAPHY */

.loud-voice {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 700;
    line-height: .9;
    margin-bottom: 0;
}
@media (min-width: 700px) {
    .loud-voice {
        font-size: 30px;
    }
}
.calm-voice {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    line-height: 1.5;
}

/* COMPONENTS */

.button {
    font-weight: 600;
    padding: 1.5vh 1.5vh;
    border-radius: 6px;
    font-family: 'Courier New', Courier, monospace;
}

graphic-diptych {
    display: block;
    padding: 10px;
}

graphic-diptych text-content {
    display: block;
    padding: 10px;
}

graphic-diptych picture {
    padding: 10px;
}

@media (min-width: 700px) {
    graphic-diptych {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding-top: 8vh;
        padding-bottom: 8vh;
    }
    graphic-diptych :is(text-content, picture) {
        flex-basis: 50%;
    }
}

inner-column .logo {
    color: rgb(110, 55, 119);
    font-family: 'Courier New', Courier, monospace;
}

page-header {
    display: flex;
    justify-content: space-between;
} 

page-header .header-links {
    display: flex;
    list-style-type: none;
    gap: 10px;
    padding: 2vh;
}

.header-links a {
    text-decoration: none;
}

.section-one {
    background-color: rgb(246, 235, 246);
    color: rgb(124, 102, 150);
}

.section-one .button {
    background-color: rgb(205, 92, 150);
    color: rgb(211, 220, 244);
    margin-top: 40px;
    margin-bottom: 40px;
}

.item-list {
    display: flex;
    flex-direction: row;
    gap: 5px;
} 

.item-list img {
    border-radius: 20px;
    border: 1px solid rgb(98, 58, 163);
}

.items {
    display: flex;
    justify-content: center;
}

.items text-content {
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(187, 144, 187);
    padding-top: 10px;
}

.item-header {
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
    margin-top: 1vh;
    color: rgb(187, 144, 187);
}

.section-three {
    background-color: rgb(231, 232, 248);
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10vh;
}

.section-three .quote {
    color: rgb(126, 83, 149);
    font-style: italic;
}

.section-three .quote-source {
    color: darkslateblue;
    font-weight: bolder;
    display: flex;
    justify-content: end;
}

.section-four end-content {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(148, 121, 229);
    border-radius: 25px;
}

.section-four .end-header {
    font-weight: 800;
    font-size: large;
}

.section-four {
    margin-top: 5vh;
}
end-content {
    display: flex;
    margin-top: 4vh;
    align-items: center;
    justify-content: center;
    height: 250px;
}

end-content .end-header {
    margin-left: 5vh;
    align-self: flex-start;
}

end-content .end-text {
    margin-left: 5vh;
    padding-bottom: 0;
}

end-content .button {
    border: 2px solid whitesmoke;
    display: flex;
    margin-bottom: 5vh;
    margin-right: 5vh;
    margin-top: 5vh;
    margin-left: 2vh;
    font-weight: 600;
    border-radius: 6px;

}

page-footer .footer-text {
    display: flex;
    justify-content: center;
    font-size: small;
    color: rgb(81, 121, 194);
}